
<h1 class="alert alert-danger">Vui lòng kiểm tra email của bạn để biết được mã code</h1>


<form method="post" asp-action="ForgotPasswordConfirmCode" style="margin:0 auto; width: 40%;" >
     <div asp-validation-summary="All"></div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        <label name="code" class="control-label">Nhập code của bạn để xác nhận</label>
        <input name="code" class="form-control">
    </div>
    <hr>
    <input type="submit" value="Xác nhận" class="btn btn-info">
</form>


 @section scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
