
<form method="post" asp-action="ForgotPassword" style="margin:0 auto; width: 40%;">
     <div asp-validation-summary="All"></div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        <label name="Email" class="control-label">Nhập Email của bạn</label>
        <input name="Email" class="form-control" type="email">
    </div>
    <hr>
    <input type="submit" value="Xác nhận" class="btn btn-info">
</form>


 @section scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }